<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-lg-6">
      <div class="card">
        <div class="card-header">
          <h1 class="text-center">Chỉnh sửa thông tin xe khách có số xe {{carEdit?.numberPlate}}</h1>
        </div>
        <div class="card-body">
          <form novalidate *ngIf="formEdit" [formGroup]="formEdit" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <div>
                <input type="number" hidden>
                <label>Số xe</label>
                <input type="text" class="form-control" disabled formControlName="numberPlate">
                <label>Loại xe</label>
                <input type="text" class="form-control" formControlName="type">
                <span class="text-danger"
                      *ngIf="
                    formEdit.controls.type?.touched &&
                    formEdit.controls.type?.errors?.required">
                    Phải nhập trường này.
                </span>
              </div>

              <div>
                <label>Tên nhà xe</label>
                <input type="text" class="form-control" formControlName="name">
                <span class="text-danger"
                      *ngIf="
                    formEdit.controls.name?.touched &&
                    formEdit.controls.name?.errors?.required">
                    Phải nhập trường này.
                </span>
              </div>

              <div>
                <label>Điểm đi</label>
                <select formControlName="startCity" class="form-select">
                  <option *ngFor="let city of cities" [ngValue]="city">{{city.name}}</option>
                </select>
                <span class="text-danger"
                      *ngIf="
                    formEdit.controls.startCity?.touched &&
                    formEdit.controls.startCity?.errors?.required">
                    Phải nhập trường này.
                </span>
              </div>
              <div>
                <label>Điểm đến</label>
                <select formControlName="endCity" class="form-select">
                  <option *ngFor="let city of cities" [ngValue]="city">{{city.name}}</option>
                </select><br>
                <span class="text-danger"
                      *ngIf="
                    formEdit.controls.endCity?.touched &&
                    formEdit.controls.endCity?.errors?.required">
                    Phải nhập trường này.
                </span>
              </div>

              <div>
                <label>Số điện thoại</label>
                <input type="text" class="form-control" formControlName="phoneNumber">
                <span class="text-danger"
                      *ngIf="
                  formEdit.controls.phoneNumber?.touched &&
                  formEdit.controls.phoneNumber?.errors?.required">
                  Phải nhập trường này.
                </span>
                <span class="text-danger"
                      *ngIf="
                    formEdit.controls.phoneNumber?.touched &&
                    formEdit.controls.phoneNumber?.errors?.pattern">
                    số điện thoại không đúng định dạng
                </span>
              </div>

              <div>
                <label>Email</label>
                <input type="email" class="form-control" formControlName="email">
                <span class="text-danger"
                      *ngIf="
                    formEdit.controls.email?.touched &&
                    formEdit.controls.email?.errors?.required">
                    Phải nhập trường này.
                </span>
                <span class="text-danger"
                      *ngIf="
                    formEdit.controls.email?.touched &&
                    formEdit.controls.email?.errors?.pattern">
                    Email không đúng định dạng
                </span>
              </div>

              <div>
                <label>Giờ đi</label>
                <input type="time" class="form-control" formControlName="startHour">
                <span class="text-danger"
                      *ngIf="
                  formEdit.controls.startHour?.touched &&
                  formEdit.controls.startHour?.errors?.required">
                  Phải nhập trường này.
                </span>
              </div>

              <div>
                <label>Giờ đến</label>
                <input type="time" class="form-control" formControlName="endHour">
                <span class="text-danger"
                      *ngIf="
                          formEdit.controls.endHour?.touched &&
                          formEdit.controls.endHour?.errors?.required">
                          Phải nhập trường này.
                </span>
              </div>

              <div class="d-flex justify-content-center">
                <a name="" id="" class="btn btn-danger" routerLink="/cars/list" role="button">Thoát</a>
                <button type="submit" class="btn btn-primary ml-2" [disabled]="formEdit.invalid">Sửa</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
